.hh1{
    text-transform: uppercase;
    font-size: 30px;
}
.hh2{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 35px;
    font-weight: 700;
}
.oybek1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pp1{
    margin-top: 10px;
}